@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #3b82f6, #9333ea);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

/* Change success icon background to blue */
.Toastify__toast--success .Toastify__toast-icon > svg {
  fill: #3b82f6 !important; /* Blue icon */
}

/* Change error icon background to blue */
.Toastify__toast--error .Toastify__toast-icon > svg {
  fill: #3b82f6 !important; /* Blue icon */
}

.viewOpen {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.viewOpen.visible {
  opacity: 1;
  transform: translateY(0);
}
